Body {
  margin: 0;
  text-align: center;
  font-size: 200%;
  color: #40514E;
}

h1 {
  line-height: 1.5;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  color: #66BFBF;
}
p {line-height: 2;}
h2 {
  font-family: "Arial Black", sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {color: #ffffff}
.top {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.my {
  height: 18.75rem;
  width: 18.75rem;
  border-radius: 200px;
}

.cloud1 {
  position: absolute;
  left: 31.25rem;
  bottom: 300px;
}

.cloud {
  position: absolute;
  right: 31.25rem;
  top: 50px;
}

.gift {
  width: 40%;
  float: left;
  border-radius: 100px;
  margin-right: 30px;

}

.cat {
  width: 25%;
  float: right;
  border-radius: 100px;
  margin-left: 30px;
  ;
}

.skill-row {
  width: 50%;
  text-align: left;
  margin: 100px auto 100px auto;
  line-height: 2;
}
.bottom {margin-top: 50px;
  height: 15rem;
  padding-top: 50px;

  background-color: #66BFBF;}
  .BUTTON_MUY {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -moz-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -ms-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -o-linear-gradient(top, #66BFBF, #66BFBF);
   background-image: -webkit-gradient(to bottom, #66BFBF, #66BFBF);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Trebuchet MS;
   font-size: 41px;
   font-weight: 200;
   padding: 24px;
   border: solid #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_MUY:hover {
   border: solid #99C624 1px;
   background: #F7F8F9;
   background-image: -webkit-linear-gradient(top, #F7F8F9, #44EDDD);
   background-image: -moz-linear-gradient(top, #F7F8F9, #44EDDD);
   background-image: -ms-linear-gradient(top, #F7F8F9, #44EDDD);
   background-image: -o-linear-gradient(top, #F7F8F9, #44EDDD);
   background-image: -webkit-gradient(to bottom, #F7F8F9, #44EDDD);
   color: #FFFFFF;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.name {margin-bottom: 0;
  padding: 50px 0;
color: #ffffff;
font-size: 0.75rem;}
.opisanie {width: 30%;
margin: auto;}
.op {width: 30%;
margin: 0 auto 50px auto;
}

.middle  {margin: 100px 0;}
hr {border: dotted #EAF6F6 6px;
 border-bottom: none;
width: 4%;
margin: 100px auto;}
